API_ID=
API_HASH=
BOT_TOKEN=
MONGO_URI=
MONGO_DB_NAME=guessbot
OWNER_ID=
SUPPORT_GROUP_LINK=https://t.me/InfinitexGc
DEVELOPER_USERNAME=Crew_allied
GUESS_WINDOW_SECONDS=20
GAP_BETWEEN_DROPS_SECONDS=2
NO_REPEAT_HISTORY=50